@page
@model ChoosenCareHome.Pages.Data.QualificationPageModel

@{
    ViewData["Title"] = "QualificationPage";
}
<section class="section position-relative" style="background-image: url(../img/bg123.jpg);">
    <div class="r-container">
        <div class="image-overlay"></div>
        <div class="position-relative" style="z-index: 2;">
            <h1 class="font-1 fw-bold text-white">Qualifications/Training</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item fw-bold"><a asp-page="/Index">Home</a></li>
                    <li class="breadcrumb-item fw-bold active" aria-current="page">Qualifications/Training</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section class="section">
    <div class="r-container">
        <h4 style="font-size:15px;text-align:center;">Private & Confidential</h4>
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <strong>@TempData["success"]</strong>
            </div>

        }
        <div class="row">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 style="text-align: center;">Qualifications/Training</h4>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.QualificationList[0].QualificationsItem)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.QualificationList[0].SchoolCollege)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.QualificationList[0].GradeResult)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.QualificationList[0].DatesFromTo)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.QualificationList)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.QualificationsItem)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SchoolCollege)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.GradeResult)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DatesFromTo)
                                            </td>

                                            <td>
                                                <form method="post" asp-page-handler="Delete">
                                                    <input type="hidden" value="@item.Id" name="id" />
                                                    <input type="submit" value="X" class="btn btn-danger" />

                                                </form>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="col-md-12" style="margin-top:20px;">
                    <div class="card">
                        <div class="card-body">
                            <h4>Add New Qualifications/Training</h4>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="Qualification.Id" />
                                <input type="hidden" asp-for="Qualification.ApplicationId" value="@Model.ApplicationId" />
                                <div class="form-group">
                                    <label asp-for="Qualification.QualificationsItem" class="control-label"></label>
                                    <input asp-for="Qualification.QualificationsItem" class="form-control" />
                                    <span asp-validation-for="Qualification.QualificationsItem" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Qualification.SchoolCollege" class="control-label"></label>
                                    <input asp-for="Qualification.SchoolCollege" class="form-control" />
                                    <span asp-validation-for="Qualification.SchoolCollege" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Qualification.GradeResult" class="control-label"></label>
                                    <input asp-for="Qualification.GradeResult" class="form-control" />
                                    <span asp-validation-for="Qualification.GradeResult" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Qualification.DatesFromTo" class="control-label"></label>
                                    <input asp-for="Qualification.DatesFromTo" class="form-control" />
                                    <span asp-validation-for="Qualification.DatesFromTo" class="text-danger"></span>
                                </div>


                                <div class="form-group">
                                    <input type="submit" value="Add" class="btn btn-primary" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <a asp-page="./HealthCareQualification" asp-route-id="@Model.ApplicationId" style="float:right;" class="btn btn-primary">Next Training/Qualifications In Healthcare</a>
            </div>

        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
