@page
@model ChoosenCareHome.Areas.Staff.Pages.Dashboard.UpdateModel
@{
}
<div class="row">
    <h4>TIME SHEET UPDATE FOR @Model.UserTimeSheet.TimeSheet.Date.ToString("ddd dd MMM, yyyy").ToUpper()</h4>

    <div class="col-md-12">
        <dl class="row">
            @if (TempData["success"] != null)
            {
                <div class="alert alert-success">
                    <strong>@TempData["success"]</strong>
                </div>

            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserTimeSheet.StartTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserTimeSheet.StartTime)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserTimeSheet.EndTime)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserTimeSheet.EndTime)
            </dd>

            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserTimeSheet.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserTimeSheet.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserTimeSheet.PostCode)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserTimeSheet.PostCode)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserTimeSheet.RatePerHour)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserTimeSheet.RatePerHour)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserTimeSheet.Break)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserTimeSheet.Break)
            </dd>

        </dl>
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserTimeSheet.Id" />

            <div class="form-group">
                <label asp-for="UserTimeSheet.Report" class="control-label"></label>
                <textarea asp-for="UserTimeSheet.Report" class="form-control tinymce-editor"></textarea>
                <span asp-validation-for="UserTimeSheet.Report" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-success" />
                <a asp-page="./TimeSheet" class="btn btn-primary">Back to Timesheet</a>

            </div>
        </form>
    </div>
</div>