@page
@model ChoosenCareHome.Areas.Admin.Pages.Users.IndexModel
@{
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Staff Management</h3>

        
        <p>
            <a asp-page="New" class="btn btn-primary">Add New</a>
            @*<a asp-page="/TimeSheetPage/UserWithTimeSheet" class="btn btn-warning">User With TimeSheet</a>*@
        </p>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        @if (TempData["success"] != null)
        {
            <div class="alert alert-success">
                <strong>@TempData["success"]</strong>
            </div>

        }
        <div class="table-responsive">
            <table class="table table-bordered table-striped datatable">
                <thead>
                    <tr>
                        <th>S/N</th>
                        <th>
                            Fullname
                        </th>

                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Status</th>

                        <th></th>
                    </tr>
                </thead>

                @{
                    int sn = 0;
                }
                <tbody>
                    @foreach (var item in Model.AppUser)
                    {
                        <tr>

                            <td>
                                @{
                                    sn++;
                                }
                                @sn
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Surname)
                                @Html.DisplayFor(modelItem => item.FirstName)
                                @Html.DisplayFor(modelItem => item.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Role)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserStatus)
                            </td>
                            <td>
                                
                                <div class="dropdown">

                                    <button class="btn btn-success" href="#" data-bs-toggle="dropdown">
                                         Action
                                    </button><!-- End Messages Icon -->

                                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">

                                        <li>
                                            <a class="dropdown-item" asp-page="./Details" asp-route-id="@item.Id">Details</a>

                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="./Update" asp-route-id="@item.Id">Update</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="./ResetPassword" asp-route-id="@item.Id">Reset Password</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-page="./MakeAdmin" asp-route-id="@item.Id">Make Admin</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item bg-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                                        </li>
                                    </ul><!-- End Messages Dropdown Items -->

                                </div>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>