@page
@model ChoosenCareHome.Areas.Admin.Pages.TimeSheetPage.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h1>TimeSheet for @Model.DateView.Date.ToString("ddd dd MMM, yyyy")</h1>

</div>
@if (TempData["error"] != null)
{

    <div class="alert alert-warning">
        <strong>Warning!</strong> @TempData["error"]
    </div>


}
else
{
    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            User
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            Phone
                        </th>
                        <th>
                            Start Time
                        </th>
                        <th>
                            End Time
                        </th>

                        <th>
                            Post Code
                        </th>

                        <th>Acceptance status</th>
                        <th>Acceptance Countdown</th>
                        <th>User Start Time</th>
                        <th>User End Time</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TimeSheet.UserTimeSheet.OrderByDescending(x => x.Date))
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Title)
                                @Html.DisplayFor(modelItem => item.User.Surname)
                                @Html.DisplayFor(modelItem => item.User.FirstName)
                                @Html.DisplayFor(modelItem => item.User.MiddleName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                            </td>
                            <td>
                                @item.StartTime.ToString(@"hh\:mm")
                            </td>
                            <td>
                                @item.EndTime.ToString(@"hh\:mm")
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.PostCode)
                            </td>
                            <td>
                                @if (item.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Accepted)
                                {


                                    <span>Accepted</span>
                                }
                                else if (item.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Declined)
                                {
                                    <span>Declined</span>
                                    <span>
                                        <br />  @item.AcceptedReason
                                    </span>
                                }
                                else if (item.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Canceled)
                                {
                                    <span>Canceled</span>
                                    <span>
                                        <br /> @item.AcceptedReason
                                    </span>
                                }
                                else if (item.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Pending)
                                {
                                    <span>Pending</span>

                                }
                            </td>
                            @{
                                // Calculate remaining hours for each item
                                DateTime now = DateTime.UtcNow; // Get current time in UTC
                                TimeSpan remainingTime = item.AcceptanceExpirationTime - now;
                                int remainingHours = (int)Math.Ceiling(remainingTime.TotalHours); // Calculate remaining hours

                                // Ensure remaining hours is not negative
                                if (remainingHours < 0)
                                {
                                    remainingHours = 0;
                                }
                                // Determine whether to display "hr" or "hrs"
                                string hoursLabel = remainingHours == 1 ? "hr" : "hrs";
                            }
                            <td>
                                @Html.DisplayFor(modelItem => item.AcceptanceExpirationTime)  (@remainingHours@hoursLabel)
                            </td>
                            <td>
                                @if (item.UserSheetStartTime != null)
                                {

                                    @item.UserSheetStartTime.Value
                                }
                                else
                                {
                                    <span>--/--/-- --:--</span>
                                }
                            </td>
                            <td>
                                @if (item.UserSheetEndTime != null)
                                {

                                    @item.UserSheetEndTime.Value
                                }
                                else
                                {
                                    <span>--/--/-- --:--</span>
                                }
                            </td>
                            <td>
                                <a asp-page="./SheetDetails" class="btn btn-primary btn-sm" asp-route-id="@item.Id">Details</a>
                                <a asp-page="./UpdateUserSheet" class="btn btn-warning btn-sm" asp-route-id="@item.Id">Update</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4>Assign User to Sheet</h4>

        </div>
        <div class="card-body">
            <div class="col-md-12">
                <form method="post">
                    <input type="hidden" asp-for="UserTimeSheet.TimeSheetId" value="@Model.TimeSheet.Id" />

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserTimeSheet.UserId" class="control-label">User (Leave Use Blank if it not assigned to a user)</label>
                        <select asp-for="UserTimeSheet.UserId" class="form-control" asp-items="ViewBag.UserId">
                            <option value="">Choose</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserTimeSheet.StartTime" class="control-label"></label>
                        <input asp-for="UserTimeSheet.StartTime" class="form-control" type="time" />
                        <span asp-validation-for="UserTimeSheet.StartTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserTimeSheet.EndTime" class="control-label"></label>
                        <input asp-for="UserTimeSheet.EndTime" class="form-control" type="time" />
                        <span asp-validation-for="UserTimeSheet.EndTime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="UserTimeSheet.Address" class="control-label"></label>
                        <input asp-for="UserTimeSheet.Address" class="form-control" />
                        <span asp-validation-for="UserTimeSheet.Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserTimeSheet.PostCode" class="control-label">Post Code</label>
                        <select asp-for="UserTimeSheet.PostCode" class="form-control" asp-items="ViewBag.UserClientId" required="required">
                            <option value="">Choose</option>
                        </select>
                        <span asp-validation-for="UserTimeSheet.PostCode" class="text-danger"></span>
                    </div>


                    <div class="form-group">
                        <label asp-for="UserTimeSheet.RatePerHour" class="control-label">Rate Per Hour in Pounds (£)</label>
                        <input asp-for="UserTimeSheet.RatePerHour" class="form-control" value="10" />
                        <span asp-validation-for="UserTimeSheet.RatePerHour" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserTimeSheet.Break" class="control-label"></label>
                        <input asp-for="UserTimeSheet.Break" class="form-control" />
                        <span asp-validation-for="UserTimeSheet.Break" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UserTimeSheet.AcceptanceExpirationTime" class="control-label">Acceptance Expiration Time</label>
                        <input asp-for="UserTimeSheet.AcceptanceExpirationTime" class="form-control" />
                        <span asp-validation-for="UserTimeSheet.AcceptanceExpirationTime" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
}
<a asp-page="./Index">Back to List</a>

@section scripts {
   
}