@page
@model ChoosenCareHome.Areas.Admin.Pages.TimeSheetPage.SheetDetailsModel
@{
}
<div>
    <h4>User Time Sheet</h4>
    <hr />
    @if (Model.UserTimeSheet.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Accepted)
    {
        <button class="btn btn-success">
            Acceptance Status:

            <span>Accepted</span>
        </button>
    }
    else if (Model.UserTimeSheet.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Declined)
    {
        <button class="btn btn-danger">
            Acceptance Status:

            <span>Declined</span>
            <span>
                <br />  @Model.UserTimeSheet.AcceptedReason
            </span>
        </button>
    }
    else if (Model.UserTimeSheet.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Canceled)
    {
        <button class="btn btn-danger">
            Acceptance Status:

            <span>Canceled</span>
            <span>
                <br /> @Model.UserTimeSheet.AcceptedReason
            </span>
        </button>
    }
    else if (Model.UserTimeSheet.TimesheetAcceptance == ChoosenCareHome.Data.Model.Enum.TimesheetAcceptance.Pending)
    {
        <button class="btn btn-info">
            Acceptance Status:

            <span>Pending</span>
        </button>
    }
    @{
        // Calculate remaining hours for each item
        DateTime now = DateTime.UtcNow; // Get current time in UTC
        TimeSpan remainingTime = Model.UserTimeSheet.AcceptanceExpirationTime - now;
        int remainingHours = (int)Math.Ceiling(remainingTime.TotalHours); // Calculate remaining hours

        // Ensure remaining hours is not negative
        if (remainingHours < 0)
        {
            remainingHours = 0;
        }
        // Determine whether to display "hr" or "hrs"
        string hoursLabel = remainingHours == 1 ? "hr" : "hrs";
    }
    <h5>
        Make sure to accept or decline within the time frame.<br />
        @Html.DisplayFor(modelItem => Model.UserTimeSheet.AcceptanceExpirationTime)  (@remainingHours@hoursLabel)
    </h5>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>When I started my Sheet</th>
                <td>
                    @if (Model.UserTimeSheet.UserSheetStartTime != null)
                    {

                        @Html.DisplayFor(model => model.UserTimeSheet.UserSheetStartTime.Value)
                    }
                    else
                    {
                        <span>--/--/-- --:--</span>
                    }
                </td>
            </tr>
            <tr>
                <th>When I close my Sheet</th>
                <td>
                    @if (Model.UserTimeSheet.UserSheetEndTime != null)
                    {

                        @Html.DisplayFor(model => model.UserTimeSheet.UserSheetEndTime.Value)
                    }
                    else
                    {
                        <span>--/--/-- --:--</span>
                    }
                </td>
            </tr>
        </thead>
    </table>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.User)
        </dt>
        <dd class="col-sm-10">
            @Model.UserTimeSheet.User.Title
            @Model.UserTimeSheet.User.Surname
            @Model.UserTimeSheet.User.FirstName
            @Model.UserTimeSheet.User.MiddleName
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.EndTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.EndTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.Report)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.UserTimeSheet.Report)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.PostCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.PostCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.RatePerHour)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.RatePerHour)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.Break)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.Break)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserTimeSheet.TimeSheet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserTimeSheet.TimeSheet.Date)
        </dd>
    </dl>

    <a asp-page="./UpdateUserSheet" class="btn btn-warning btn-sm" asp-route-id="@Model.UserTimeSheet.TimeSheet.Id">Update</a>

</div>