@page
@model ChoosenCareHome.Areas.Admin.Pages.QualificationPageList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification.QualificationsItem)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qualification.QualificationsItem)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification.SchoolCollege)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qualification.SchoolCollege)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification.GradeResult)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qualification.GradeResult)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification.DatesFromTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qualification.DatesFromTo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Qualification.Application)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Qualification.Application.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Qualification?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
